STEP1-AutoEncoderModel/vqgan/wandb/*
STEP1-AutoEncoderModel/vqgan/logs/*
STEP1-AutoEncoderModel/klvae/wandb/*
STEP1-AutoEncoderModel/klvae/logs/*

STEP2-DiffusionModel/wandb/*
STEP2-DiffusionModel/pics/*
STEP2-DiffusionModel/logs/*

STEP3-ControlNetModel/dataset/data/*
STEP3-ControlNetModel/dataset/datah5/*
STEP3-ControlNetModel/controlnet*/
STEP3-ControlNetModel/wandb/*
STEP3-ControlNetModel/logs/*


*/__pycache__/*
*/*/*.zip
*/*.out
# STEP1-AutoEncoderModel/vqgan/__pycache__/*
# STEP1-AutoEncoderModel/klvae/__pycache__/*